.App{
  display: flex;
  flex-direction: column;
  height: 100vh; //高度满屏
  width: 100%;
  background-color: #17181A;
}

.App .zh-img {
  height: 90vh
}
.App .zh-img img{
  width: 100%;
  height: 100%;
}

.App .zh-quote {
  height: 10vh;
  display: flex;
  flex-direction: row;

  color: #C2C4CC;
  background-color: #17181A;

}
.App .zh-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.App .zh-logo img {
  height: 80px;
  width: 80px;
}
.App .zh-zhihudaily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;

}
.App .zh-zhihudaily h1 {
  margin-bottom: 0px;
  color: #C2C4CC;
}
.App .zh-zhihudaily h3{
  margin-top: 5px;
  color: #86888D;
}
